# 7.1

In [5]:
import csv
import pandas as pd

def total_rows(csv_file):
    total_rows = -1
    with open(csv_file, "r") as file:
        reader = csv.reader(file)
        for row in reader:
            total_rows = total_rows +1
    return total_rows

def total_rows2(csv_file):
    df = pd.read_csv(csv_file)
    return df.shape[0]

In [6]:
total_rows2("data.txt")

15

# 7.2

In [25]:
import json

def unique_value_from_json(json_file, key):
    unique = set()
    with open (json_file, "r") as json_f:
        json_file = json.load(json_f)
        for el in json_file:
            unique.add(el[key])
    return unique

unique_value_from_json("test.json", "name")

{'Jenna Doe', 'John Doe'}

# 7.3

In [26]:
def replace_text(text_file, word, replacement):
    with open(text_file, "r") as input_text:
        content = input_text.read()
        content = content.replace(word, replacement)
    with open(text_file, "w") as output_text:
        output_text.write(content)

In [27]:
replace_text("output.txt", "world", "students")

# 7.4

In [29]:
import pandas as pd

def load_csv(file):
    return pd.read_csv(file)

df = load_csv("data.csv")

# 7.5

In [44]:
import pandas as pd
def get_columns_list(dataframe):
    return dataframe.columns.values.tolist()

In [45]:
get_columns_list(df)

['Name', 'Age']

# 7.6

In [52]:
import pandas as pd
def calculate_column_average(data, column_name):
    return data[column_name].mean()

calculate_column_average(df, "Age")

74.5

# 7.7

In [55]:
import pandas as pd
def save_data_to_csv(data, filename):
    data.to_csv(filename)

In [56]:
save_data_to_csv(df, "test.csv")